body{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
#name{
    text-align: center;
    position: sticky;
    top: 0%;
    font-size: 5vmin;
}
.links{
    border: solid brown .5vmin;
    padding: 4vmin;
    font-size: 2vmin;
}
#box1{
    animation-delay: -4s;
}
#box2 {
    animation-delay: -2s;
}

.boxes{
    position: absolute;
    animation-name: boxes;
    animation-duration: 6s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 50%;
}
@keyframes boxes{
    0% {left: 10%;}
    50%{left: 75%; top:50%}
    69% {left: 75%; top: 120%;opacity: 100%;}
    70% {left: 75%; top: 120%;opacity: 0%;}
    79% {left: 10%; top: -20%;opacity: 0%;}
    80% {left: 10%; top: -20%;opacity: 100%;}
    100% {left: 10%; top: 50%;}
}