.body{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-image: url(./images/Tile.png);
    background-size: 8vmin;
}
#project{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    background-image: url(./images/TileW.png);
    background-size: 16vmin;
}
#background{
    height: 100vh;
    width: 100vw;
    background-image: url(./images/TileW.png);
    background-size: 16vmin;
    z-index: -1;
}
#name{
    text-align: center;
    font-size: 5vmin;
    color: white;
    text-shadow: .5vmin .5vmin black;
    font-family: Pixel;
}
#header{
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    top: 5vh;
    font-size: 5vmin;
    color: white;
    text-shadow: .5vmin .5vmin black;
    font-family: Pixel;
}
.links{
    font-size: 2.3vmin;
    padding: 4.5vmin 1.5vmin 4.5vmin 1.5vmin;
    text-decoration: none;
    color: white;
    text-shadow: .3vmin .3vmin black;
    font-family: Pixel;
}
#home{
    position: absolute;
    top: 10vmin;
    left: 10vmin;
}
#home > img{
    width: 10vmin;
    height: 10vmin;
}
#about{
    padding: 2.8vmin 2.5vmin 2.8vmin 2.5vmin;
}
#box1{
    animation-delay: -4s;
}
#box2 {
    animation-delay: -2s;
}
#leverB{
    border: none;
    background: none;
    position: absolute;
    top: calc(100% - 20vmin);
    left: 5vw;
}
#leverB:hover{
    cursor: pointer;
}

#lever{
    height: 20vmin;
    width: 20vmin;
}
.boxes{
    background-image: url(./images/Box.png);
    background-size: 14vmin;
    height: 14vmin;
    width: 14vmin;
    position: absolute;
    animation-name: boxes;
    animation-duration: 6s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#belt > div{
    position: absolute;
    z-index: -1;
}
#downBelt1{
    top: 0%;
    left: calc(10% - 2vmin);
    width: 18vmin;
    height: calc(50% - 2vmin);
    background-image: url("./images/ConveyorD.gif");
    background-size: 19vmin;
}
#rightBelt {
    top: calc(50% - 2vmin);
    left: calc(10% - 2vmin);
    width: 65%;
    height: 18vmin;
    background-image: url("./images/Conveyor.gif");
    background-size: 19vmin;
}
#downBelt2 {
    top: calc(50% - 2vmin);
    left: calc(75% - 2vmin);
    width: 18vmin;
    height: calc(60% - 2vmin);
    background-image: url("./images/ConveyorD.gif");
    background-size: 19vmin;
}
@keyframes boxes{
    0% {left: 10%;}
    50%{left: 75%; top:50%}
    69% {left: 75%; top: 120%;visibility: visible;}
    70% {left: 75%; top: 120%;visibility: hidden;}
    79% {left: 10%; top: -20%;visibility: hidden;}
    80% {left: 10%; top: -20%;visibility: visible;}
    100% {left: 10%; top: 50%;}
}
#lid{
    animation-name: open;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 200;
}
@keyframes open{
    0% {left: 0%;}
    99% {left: 100%;}
    100% {left: 100%;visibility: hidden;}
}
#profilePic{
    border: 1.5vmin white solid;
    height: 20vmin;
    width: 20vmin;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: calc(95% - 23vmin);
    right: 2vw;
}
@font-face {
    font-family: "Pixel";
    src: url("./images/big-shot.ttf");
}
#icons{
    width: 73.5vmin;
    height: 33.5vmin;
}
#container1{
    height: 60vmin;
    width: 90vw;
    position: absolute;
    top: calc(50% - 30vmin);
    left: 5vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "skills"
    "skillsD"
    "info"
    ;
}
#container1 > div{
    font-size: 3vmin;
    color: white;
    text-shadow: .3vmin .3vmin black;
    font-family: Pixel;
    text-align: center;
}
#info{
    grid-area: info;
}
#skills{
    grid-area: skills;
}
#skillsD{
    grid-area: skillsD;
}
#container2{
    margin-top: 10vmin;
    gap: 6vmin;
    height: 60vmin;
    width: 90vw;
    position: absolute;
    top: calc(50% - 30vh);
    left: 5vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "work1"
    "work2"
    "work3"
    ;

}
#container2> div > img{
    height: 60vw;
    width: 90vw;
    border: 1vmin solid white;
    object-fit: cover;
    border-radius: 10%;
}
#work1{
    grid-area: work1;
}
#work2{
    grid-area: work2;
}
#work3{
    grid-area: work3;
}
#container3{
    margin-top: 10vmin;
    gap: 6vmin;
    height: 60vmin;
    width: 90vw;
    position: absolute;
    top: calc(50% - 30vh);
    left: 5vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "link1"
    "link2"
    "link3"
    ;

}
#container3> a > img{
    height: 20vw;
    width: 20vw;
    position: relative;
    padding: 20vw 35vw 20vw 35vw;
    background-color: black;
    opacity: 0;
    border-radius: 10%;
    border: 1vmin solid white;
}
#container3>a>img:hover {
    opacity: .7;
}
#link1{
    grid-area: link1;
}
#link2{
    grid-area: link2;
}
#link3{
    grid-area: link3;
}
#container4 {
    height: 60vmin;
    width: 90vw;
    position: absolute;
    top: calc(50% - 30vmin);
    left: 5vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "eIcon"
        "email"
        "pIcon"
        "phone"
        "gIcon"
        "git"
    ;
}
#eIcon{
    grid-area: eIcon;
}
#email {
    grid-area: email;
}
#pIcon {
    grid-area: pIcon;
}
#phone {
    grid-area: phone;
}
#gIcon{
    grid-area: gIcon;
}
#git{
    grid-area: git;
}
#container4>div {
    font-size: 3vmin;
    color: white;
    text-shadow: .3vmin .3vmin black;
    font-family: Pixel;
    text-align: center;
}
#container4>div>img {
   width: 13vw;
   height: 10vw;
}
#gitLink{
    text-decoration: none;
    color: white;
}
#gitLink:hover {
    text-decoration: underline;

}